h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0
}

body,
header {
    background: #f7f7f7
}

* {
    box-sizing: border-box
}

body {
    overflow-x: hidden;
    margin: 0;
    font-size: 16px;
    position: relative
}

a,
button {
    text-decoration: none;
    color: inherit;
    cursor: pointer
}

a,
button,
input {
    outline: 0
}

ul li {
    list-style: none
}

.big_Container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto
}

@font-face {
    font-family: Geometria;
    src: url(../../fonts/Geometria.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

header .header_info {
    background: #e8e8e8;
    padding: 22px 20px
}

header .header_info .header_info_cont {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1190px;
    width: 100%;
    margin: 0 auto
}

header .header_info .header_info_cont .info_item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-left: 22px
}

header .header_info .header_info_cont .info_item:nth-child(2),
header .header_info .header_info_cont .info_item:nth-child(4) {
    padding-left: 30px
}

header .header_info .header_info_cont .info_item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0
}

header .header_info .header_info_cont .info_item p {
    color: #000;
    font-family: Geometria;
    font-size: 12px;
    font-weight: 600;
    line-height: 21px
}

header .header_info .header_info_cont .info_item p:nth-child(2) {
    margin-left: 13px
}

header .header_info .header_info_cont .info_item select {
    color: #725549;
    font-family: Geometria;
    font-size: 12px;
    font-weight: 600;
    line-height: 21px;
    background: unset;
    border: unset;
    outline: 0;
    cursor: pointer;
    margin-left: 13px
}

header .header_info .header_info_cont .info_item a {
    color: #47342d;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: .7px
}

header .header_info .header_info_cont .info_item:first-child::before {
    content: url(../../img/002-pin.png)
}

header .header_info .header_info_cont .info_item:nth-child(2):before {
    content: url("../../img/clock_(1).png")
}

header .header_info .header_info_cont .info_item:nth-child(4):before {
    content: url(../../img/001-whatsapp.png)
}

header .header_user {
    background: #f7f7f7;
    padding: 33px 20px 49px;
    width: 100%
}

header .header_user_cont {
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center
}

header .header_user_cont .call,
header .header_user_cont .user_menu {
    display: -ms-flexbox;
    width: 100%
}

header .header_user_cont .logo {
    max-width: 230px;
    width: 100%
}

header .header_user_cont .logo img {
    width: 100%
}

header .header_user_cont .call {
    position: relative;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: end;
    align-items: flex-end;
    max-width: 205px;
    -ms-flex-direction: column;
    flex-direction: column
}

header .header_user_cont .call a {
    color: #565f6a;
    font-family: Geometria;
    font-size: 19px;
    font-weight: 700;
    line-height: 29.22px;
    letter-spacing: .7px
}

header .header_user_cont .call button {
    color: #565f6a;
    background: unset;
    border: unset;
    padding: 0;
    font-family: Geometria;
    font-size: 12px;
    font-weight: 600;
    line-height: 21px
}

header .header_user_cont .user_menu {
    max-width: 600px;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center
}

header .header_user_cont .user_menu form {
    margin: 0 15px;
    max-width: 472px;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center
}

header .header_user_cont .user_menu form input[type=text] {
    width: 100%;
    max-width: 289px;
    border: unset;
    height: 46px;
    padding: 0 18px;
    color: #000;
    font-family: Geometria;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: .7px
}

header .header_user_cont .user_menu form input[type=text]::-webkit-input-placeholder {
    font-size: 14px
}

header .header_user_cont .user_menu form input[type=text]:-moz-placeholder,
header .header_user_cont .user_menu form input[type=text]::-moz-placeholder {
    font-size: 14px
}

header .header_user_cont .user_menu form input[type=text]:-ms-input-placeholder,
header .header_user_cont .user_menu form input[type=text]::-ms-input-placeholder {
    font-size: 14px
}

header .header_user_cont .user_menu form input[type=text]::placeholder {
    font-size: 14px
}

header .header_user_cont .user_menu form select {
    color: #000;
    font-family: Geometria;
    font-size: 12px;
    outline: 0;
    cursor: pointer;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: .6px;
    padding: 0 0 0 12px;
    height: 32px;
    border: unset;
    border-left: 1px solid #c6c6c6
}

header .header_user_cont .user_menu form input[type=button] {
    width: 62px;
    min-width: 50px;
    height: 47px;
    background-image: url(../../img/004-search.png);
    background-size: 35%;
    border: unset;
    cursor: pointer;
    margin-left: 2px;
    background-position: 50%;
    background-color: #838fa3;
    background-repeat: no-repeat
}

header .header_user_cont .user_menu .menu_item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

header .header_user_cont .user_menu .menu_item a:nth-child(2) {
    position: relative;
    margin-left: 32px
}

header .header_user_cont .user_menu .menu_item a:nth-child(2) span {
    border-radius: 50px;
    width: 21px;
    height: 21px;
    position: absolute;
    background: #419246;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-family: Geometria;
    font-size: 10px;
    font-weight: 400;
    right: -9px;
    top: 11px;
    line-height: 21px;
    letter-spacing: .5px
}

header .header_navigation {
    position: relative;
    background: #f7f7f7
}

header .header_navigation:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 66.8px;
    z-index: 1;
    left: 0;
    top: 0;
    background: #adb8c6
}

header .header_navigation .header_navigation_cont {
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    z-index: 2
}

header .header_navigation .header_navigation_cont .katalog {
    background: #f7f7f7;
    max-width: 330px;
    padding: 0 15px;
    width: 100%;
    position: relative
}

header .header_navigation .header_navigation_cont .katalog .open_kat {
    width: 100%;
    min-width: 280px;
    padding: 23px 0 23px 70px;
    text-align: left;
    background: #dae0e8;
    border: unset;
    color: #000;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: .7px;
    position: relative
}

header .header_navigation .header_navigation_cont .katalog .open_kat:before {
    content: url(../../img/grop564.png);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px
}

header .header_navigation .header_navigation_cont .katalog .position_header {
    position: absolute;
    max-width: 300px
}

header .header_navigation .header_navigation_cont .katalog .katalog_menu {
    padding: 23px 0;
    background: #dae0e8;
    position: relative;
    min-width: 280px;
    display: none;
    max-width: 300px;
    width: 100%
}

header .header_navigation .header_navigation_cont .katalog .katalog_menu .spec {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center
}

header .header_navigation .header_navigation_cont .katalog .katalog_menu li {
    padding: 10px 43px;
    position: relative;
    transition: all .5s
}

header .header_navigation .header_navigation_cont .katalog .katalog_menu li:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    max-width: 255px;
    width: 100%;
    background-color: rgba(0, 0, 0, .2)
}

header .header_navigation .header_navigation_cont .katalog .katalog_menu li a,
header .header_navigation .header_navigation_cont .katalog .katalog_menu li p {
    color: #000;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .7px;
    line-height: 35px;
    transition: all .5s
}

header .header_navigation .header_navigation_cont .katalog .katalog_menu li:hover {
    background: #725549
}

header .header_navigation .header_navigation_cont .katalog .katalog_menu li:hover p {
    color: #fff
}

header .header_navigation .header_navigation_cont .katalog .katalog_menu li img {
    margin-right: 8px;
    width: 22px
}

header .header_navigation .header_navigation_cont .katalog .katalog_menu li ul li {
    padding-left: 20px
}

header .header_navigation .header_navigation_cont .katalog .katalog_menu li ul li:before {
    display: none
}

header .header_navigation .header_navigation_cont .katalog .sale_block {
    width: 100%;
    background-image: url(../../img/bannersale.png);
    background-size: cover;
    padding: 118px 37px 108px;
    margin: 24px 0 31px
}

header .header_navigation .header_navigation_cont .katalog .sale_block p {
    color: #fff;
    font-family: Geometria;
    font-size: 114px;
    font-weight: 700;
    line-height: 118px;
    text-transform: uppercase;
    letter-spacing: .7px
}

header .header_navigation .header_navigation_cont .katalog .sale_block span {
    color: #fff;
    font-family: Geometria;
    font-size: 30px;
    font-weight: 700;
    line-height: 30.06px;
    text-transform: uppercase;
    letter-spacing: .7px
}

header .header_navigation .header_navigation_cont .katalog .colection {
    padding: 39px 37px 54px;
    background-image: url(../../img/2-layers.png);
    background-size: cover;
    -ms-flex-direction: column;
    flex-direction: column
}

header .header_navigation .header_navigation_cont .katalog .colection h3,
header .header_navigation .header_navigation_cont .katalog .colection span {
    color: #fff;
    font-family: Geometria;
    font-size: 29px;
    font-weight: 600;
    letter-spacing: .8px;
    line-height: 38.45px
}

header .header_navigation .header_navigation_cont .katalog .colection span {
    font-size: 16px;
    letter-spacing: .43px;
    line-height: 30.45px
}

header .header_navigation .header_navigation_cont .katalog .colection a {
    color: #fff;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: underline;
    margin-top: 150px;
    letter-spacing: .7px
}

header .header_navigation .header_navigation_cont .katalog .otziv_block {
    margin-top: 51px
}

header .header_navigation .header_navigation_cont .katalog .otziv_block h3 {
    color: #000;
    font-family: Geometria;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: .9px;
    margin-bottom: 26px
}

header .header_navigation .header_navigation_cont .katalog .otziv_block button {
    width: 100%;
    padding: 11px 0;
    background-color: #9f7f72;
    opacity: .7;
    transition: all .5s;
    border: none;
    margin-bottom: 15px
}

header .header_navigation .header_navigation_cont .katalog .otziv_block button img {
    transition: all .5s
}

header .header_navigation .header_navigation_cont .katalog .otziv_block button:hover {
    opacity: 1
}

header .header_navigation .header_navigation_cont .katalog .otziv_block .otziv_item {
    padding-bottom: 26px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 28px
}

header .header_navigation .header_navigation_cont .katalog .otziv_block .otziv_item .otziv_item_title {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px
}

header .header_navigation .header_navigation_cont .katalog .otziv_block .otziv_item .otziv_item_title h5 {
    color: #000;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: .7px
}

header .header_navigation .header_navigation_cont .katalog .otziv_block .otziv_item .otziv_item_title span {
    color: #000;
    font-family: Geometria;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: .6px
}

header .header_navigation .header_navigation_cont .katalog .otziv_block .otziv_item p {
    color: #000;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: .3px
}

header .header_navigation .header_navigation_cont .katalog .otziv_block .otziv_item a {
    color: #000;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: underline;
    margin-top: 22px;
    letter-spacing: .7px
}

header .header_navigation .header_navigation_cont .nav {
    min-width: 715px;
    background-color: #adb8c6;
    padding: 23px 20px
}

header .header_navigation .header_navigation_cont .nav .menu_btn {
    display: none;
    padding-left: 30px;
    text-align: left;
    background: unset;
    border: unset;
    color: #000;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: .7px;
    position: relative
}

header .header_navigation .header_navigation_cont .nav .menu_btn:before {
    content: url(../../img/grop564.png);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0
}

header .header_navigation .header_navigation_cont .nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start
}

header .header_navigation .header_navigation_cont .nav ul li a {
    color: #000;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: .7px;
    padding: 24px 10px;
    transition: all .5s
}

header .header_navigation .header_navigation_cont .nav ul li a:hover {
    background: #725549;
    color: #fff
}

header .header_navigation .header_navigation_cont .sites {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    max-width: 105px;
    width: 100%;
    padding: 22.5px 15px;
    background-color: #adb8c6
}

@media (max-width:1190px) {
    header .header_navigation .header_navigation_cont .nav {
        min-width: unset;
        max-width: 715px;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-align: center;
        align-items: center;
        padding: 22px 20px
    }

    header .header_navigation .header_navigation_cont .nav .menu_btn {
        display: block
    }

    header .header_navigation .header_navigation_cont .nav ul {
        display: none;
        text-align: center;
        background-color: #adb8c6;
        position: absolute;
        top: 67px;
        right: 0;
        max-width: 500px;
        width: 100%;
        padding: 20px
    }

    header .header_navigation .header_navigation_cont .nav ul li {
        padding: 15px 0
    }

    header .header_navigation .header_navigation_cont .nav ul li a {
        font-size: 14px;
        padding: 0;
        transition: all .5s
    }

    header .header_navigation .header_navigation_cont .nav ul li a:hover {
        background: unset;
        color: #000
    }
}

@media (max-width:982px) {
    header .header_navigation .header_navigation_cont .katalog {
        position: absolute;
        z-index: 3
    }

    header .header_navigation .header_navigation_cont .katalog .colection,
    header .header_navigation .header_navigation_cont .katalog .otziv_block,
    header .header_navigation .header_navigation_cont .katalog .sale_block {
        display: none
    }
}

@media (max-width:950px) {
    header .header_info {
        background: #e8e8e8;
        padding: 22px 20px 0
    }

    header .header_info .header_info_cont {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        max-width: 1190px;
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 auto
    }

    header .header_info .header_info_cont .info_item {
        margin-bottom: 22px
    }

    header .header_info .header_info_cont .info_item:first-child {
        margin-right: 15px
    }

    header .header_info .header_info_cont .info_item:nth-child(2) {
        padding-left: 30px
    }

    header .header_info .header_info_cont .info_item:nth-child(3) {
        padding-left: 0
    }

    header .header_info .header_info_cont .info_item:nth-child(4) {
        padding-left: 30px
    }

    header .header_user_cont .logo {
        max-width: 140px
    }

    header .header_user_cont .call {
        max-width: 170px
    }

    header .header_user_cont .call a {
        font-size: 16px
    }

    header .header_user_cont .user_menu form input[type=text] {
        max-width: 289px;
        height: 46px;
        padding: 0 18px
    }

    header .header_user_cont .user_menu form select {
        padding-left: 12px
    }

    header .header_user_cont .user_menu form input[type=button] {
        width: 62px;
        height: 47px
    }
}

@media (max-width:785px) {
    header .header_info {
        background: #e8e8e8;
        padding: 22px 20px 0
    }

    header .header_info .header_info_cont {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        max-width: 1190px;
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 auto
    }

    header .header_info .header_info_cont .info_item {
        margin-bottom: 22px
    }

    header .header_info .header_info_cont .info_item:first-child {
        margin-right: 15px
    }

    header .header_info .header_info_cont .info_item:nth-child(2) {
        padding-left: 30px
    }

    header .header_info .header_info_cont .info_item:nth-child(3) {
        padding-left: 0
    }

    header .header_info .header_info_cont .info_item:nth-child(4) {
        padding-left: 30px
    }

    header .header_user {
        padding: 22px 20px 0
    }

    header .header_user_cont {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    header .header_user_cont .logo {
        max-width: 140px;
        margin-bottom: 30px
    }

    header .header_user_cont .call {
        max-width: 170px;
        margin-bottom: 30px
    }

    header .header_user_cont .call a {
        font-size: 16px
    }

    header .header_user_cont .user_menu {
        margin-bottom: 30px
    }

    header .header_user_cont .user_menu form {
        margin: 0 15px 0 0
    }

    header .header_user_cont .user_menu form input[type=text] {
        max-width: 289px;
        height: 46px;
        padding: 0 18px
    }

    header .header_user_cont .user_menu form select {
        padding-left: 12px
    }

    header .header_user_cont .user_menu form input[type=button] {
        width: 62px;
        height: 47px
    }
}

@media (max-width:514px) {
    header .header_navigation .header_navigation_cont .katalog .open_kat {
        max-width: 175px !important;
        min-width: unset
    }

    header .header_navigation .header_navigation_cont .katalog {
        padding: 0;
        max-width: 175px !important
    }

    header .header_navigation .header_navigation_cont .katalog button {
        padding: 23px 0 23px 70px
    }

    header .header_navigation .header_navigation_cont .katalog button:before {
        left: 40px
    }

    header .header_navigation .header_navigation_cont .katalog .katalog_menu {
        left: 0;
        min-width: 280px !important
    }

    header .header_navigation .header_navigation_cont .katalog .katalog_menu li p {
        font-size: 14px
    }

    header .header_navigation .header_navigation_cont .nav ul {
        top: 65px
    }

    header .header_navigation .header_navigation_cont .sites {
        display: none
    }
}

@media (max-width:500px) {
    header .header_info {
        background: #e8e8e8;
        padding: 22px 20px 0
    }

    header .header_info .header_info_cont {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center
    }

    header .header_info .header_info_cont .info_item {
        margin-bottom: 22px
    }

    header .header_info .header_info_cont .info_item:first-child {
        margin-right: 15px
    }

    header .header_info .header_info_cont .info_item:nth-child(2) {
        padding-left: 30px
    }

    header .header_info .header_info_cont .info_item:nth-child(3) {
        padding-left: 0
    }

    header .header_info .header_info_cont .info_item:nth-child(4) {
        padding-left: 30px
    }

    header .header_user {
        padding: 22px 20px 0
    }

    header .header_user_cont {
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        -ms-flex-align: center;
        align-items: center
    }

    header .header_user_cont .logo {
        max-width: 140px;
        margin-bottom: 30px
    }

    header .header_user_cont .call {
        max-width: 170px;
        margin-bottom: 30px
    }

    header .header_user_cont .call a {
        font-size: 16px
    }

    header .header_user_cont .user_menu {
        margin-bottom: 30px;
        -ms-flex-pack: center;
        justify-content: center
    }

    header .header_user_cont .user_menu .menu_item {
        position: absolute;
        -ms-flex-direction: column;
        flex-direction: column;
        top: 0;
        left: 0
    }

    header .header_user_cont .user_menu .menu_item a:nth-child(2) {
        margin: 15px 0 0
    }

    header .header_user_cont .user_menu form {
        margin: 0
    }

    header .header_user_cont .user_menu form input[type=text] {
        max-width: 289px;
        height: 46px;
        padding: 0 18px
    }

    header .header_user_cont .user_menu form select {
        padding-left: 12px
    }

    header .header_user_cont .user_menu form input[type=button] {
        width: 62px;
        height: 47px
    }
}

@media (max-width:450px) {
    header .header_navigation .header_navigation_cont .katalog {
        padding: 0
    }

    header .header_navigation .header_navigation_cont .katalog button {
        padding: 23px 40px;
        min-width: unset
    }

    header .header_navigation .header_navigation_cont .katalog button:before {
        left: 10px
    }

    header .header_navigation .header_navigation_cont .katalog .katalog_menu li p {
        font-size: 14px
    }

    header .header_navigation .header_navigation_cont .nav ul {
        top: 65px
    }

    header .header_navigation .header_navigation_cont .sites {
        display: none
    }
}

footer .footer_cont .btn_verx,
footer .footer_cont .footer_top {
    display: -ms-flexbox
}

footer {
    background: #565f6a;
    padding: 49px 0 0
}

footer .footer_cont {
    max-width: 1170px;
    margin: 0 auto;
    position: relative
}

footer .footer_cont .btn_verx {
    width: 44px;
    height: 44px;
    background-color: #dae0e8;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 20px;
    top: -110px
}

footer .footer_cont .btn_verx img {
    position: absolute
}

footer .footer_cont .btn_verx p {
    position: relative;
    top: 28px;
    color: #000;
    font-family: Geometria;
    font-size: 12px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: .6px
}

footer .footer_cont .footer_top {
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0 20px
}

footer .footer_cont .footer_top .footer_item:first-child {
    max-width: 298px;
    padding-right: 28px;
    border-right: 1px solid hsla(0, 0%, 100%, .2)
}

footer .footer_cont .footer_top .footer_item:nth-child(2),
footer .footer_cont .footer_top .footer_item:nth-child(3) {
    max-width: 171px;
    padding-right: 28px;
    border-right: 1px solid hsla(0, 0%, 100%, .2);
    margin-left: 14px
}

footer .footer_cont .footer_top .footer_item:nth-child(3) {
    max-width: 183px;
    border-right: unset;
    padding-right: 0
}

footer .footer_cont .footer_top .footer_item {
    width: 100%;
    margin-bottom: 30px
}

footer .footer_cont .footer_top .footer_item .logo {
    max-width: 270px;
    width: 100%
}

footer .footer_cont .footer_top .footer_item .logo img {
    margin-bottom: 20px
}

footer .footer_cont .footer_top .footer_item span {
    opacity: .8;
    color: #fff;
    font-family: Geometria;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: .6px;
    padding-right: 30px
}

footer .footer_cont .footer_top .footer_item p {
    color: #fff;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 48px
}

footer .footer_cont .footer_top .footer_item .send_mail {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    margin-top: 16px
}

footer .footer_cont .footer_top .footer_item .send_mail input[type=text] {
    width: 100%;
    height: 44px;
    padding: 0 20px;
    background: hsla(0, 0%, 100%, .17);
    border: unset;
    color: #fff;
    font-family: Geometria;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px
}

footer .footer_cont .footer_top .footer_item .send_mail input[type=text]::-webkit-input-placeholder {
    color: #bdbdbd;
    font-size: 14px
}

footer .footer_cont .footer_top .footer_item .send_mail input[type=text]:-moz-placeholder,
footer .footer_cont .footer_top .footer_item .send_mail input[type=text]::-moz-placeholder {
    color: #bdbdbd;
    font-size: 14px
}

footer .footer_cont .footer_top .footer_item .send_mail input[type=text]:-ms-input-placeholder,
footer .footer_cont .footer_top .footer_item .send_mail input[type=text]::-ms-input-placeholder {
    color: #bdbdbd;
    font-size: 14px
}

footer .footer_cont .footer_top .footer_item .send_mail input[type=text]::placeholder {
    color: #bdbdbd;
    font-size: 14px
}

footer .footer_cont .footer_top .footer_item .send_mail label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 20px
}

footer .footer_cont .footer_top .footer_item .send_mail label input {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    background: 0 0;
    margin-right: 15px
}

footer .footer_cont .footer_top .footer_item .send_mail label p {
    margin-top: 0;
    color: #bdbdbd;
    font-family: Geometria;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px
}

footer .footer_cont .footer_top .footer_item .send_mail label a {
    color: #fff;
    font-family: Geometria;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px
}

footer .footer_cont .footer_top .footer_item .sites {
    margin-top: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    max-width: 80px;
    width: 100%
}

footer .footer_cont .footer_top .footer_item .sites a img {
    -o-object-fit: scale-down;
    object-fit: scale-down;
    max-width: 20px;
    width: 100% !important;
    height: 20px !important
}

footer .footer_cont .footer_top .footer_item h4 {
    color: #fff;
    font-family: Geometria;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 20px
}

footer .footer_cont .footer_top .footer_item ul li {
    margin-bottom: 10px
}

footer .footer_cont .footer_top .footer_item ul li a {
    color: #d4d5d6;
    font-family: Geometria;
    font-size: 14px;
    transition: all .5s;
    font-weight: 400;
    line-height: 25.05px;
    letter-spacing: .7px
}

footer .footer_cont .footer_top .footer_item ul li:hover a {
    color: #fff
}

footer .footer_cont .footer_top .footer_item:nth-child(4) {
    max-width: 475px;
    margin-left: 16px
}

footer .footer_cont .footer_top .footer_item:nth-child(4) .footer_item4_title {
    padding-left: 16px;
    border-left: 1px solid hsla(0, 0%, 100%, .2)
}

footer .footer_cont .footer_top .footer_item:nth-child(4) .footer_item4_title .footer_item4_title_flex {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center
}

footer .footer_cont .footer_top .footer_item:nth-child(4) .footer_item4_title .footer_item4_title_flex .menu_item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

footer .footer_cont .footer_top .footer_item:nth-child(4) .footer_item4_title .footer_item4_title_flex .menu_item a:nth-child(2) {
    position: relative;
    margin-left: 32px
}

footer .footer_cont .footer_top .footer_item:nth-child(4) .footer_item4_title .footer_item4_title_flex .menu_item a:nth-child(2) span {
    border-radius: 50px;
    width: 21px;
    height: 21px;
    position: absolute;
    background: #419246;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-family: Geometria;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    opacity: 1;
    padding: 0;
    right: -9px;
    top: 11px;
    letter-spacing: .5px
}

footer .footer_cont .footer_top .footer_item:nth-child(4) form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 20px
}

footer .footer_cont .footer_top .footer_item:nth-child(4) form input {
    max-width: 210px;
    width: 100%;
    height: 45px;
    background-color: #949494;
    border: unset;
    color: #fff;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: .7px
}

footer .footer_cont .footer_top .footer_item:nth-child(4) form input[type=submit] {
    background-color: #419246;
    margin-left: 6px;
    cursor: pointer
}

footer .footer_cont .footer_top .footer_item:nth-child(4) form input[type=text] {
    padding-left: 22px
}

footer .footer_cont .footer_top .footer_item:nth-child(4) .call_back_title {
    width: 100%;
    text-align: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end
}

footer .footer_cont .footer_top .footer_item:nth-child(4) .call_back_title p {
    margin-bottom: 10px
}

footer .footer_cont .footer_top .footer_item:nth-child(4) .call_back_title a {
    color: #fff;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: .7px
}

footer .footer_cont .footer_top .footer_item:nth-child(4) .oplaata {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-direction: column;
    flex-direction: column
}

footer .footer_cont .footer_top .footer_item:nth-child(4) .oplaata p {
    margin-bottom: 15px;
    margin-top: 30px
}

footer .footer_bottom {
    padding: 20px;
    width: 100%;
    background-color: #434d58
}

footer .footer_bottom,
footer .footer_bottom .footer_bottom_text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

footer .footer_bottom .footer_bottom_text p {
    color: #fff;
    font-family: Geometria;
    font-size: 13px;
    font-weight: 400;
    line-height: 20.36px;
    margin-right: 14px
}

@media (max-width:1022px) {
    footer .footer_cont .footer_top {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media (max-width:500px) {
    footer .footer_cont .footer_top {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start
    }

    footer .footer_cont .footer_top .footer_item {
        border: unset !important;
        padding: 0 !important;
        margin: 0 0 30px !important
    }

    footer .footer_cont .footer_top .footer_item .footer_item4_title {
        border: unset !important;
        padding: 0 !important
    }
}

header .header_navigation .header_navigation_cont .katalog .colection,
header .header_navigation .header_navigation_cont .katalog .otziv_block,
header .header_navigation .header_navigation_cont .katalog .sale_block {
    display: none
}

.adreas_link {
    position: absolute;
    top: 0;
    left: 64px;
    transform: translateX(-50%);
    font-family: Geometria;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    color: #7d7d7d
}

.likes {
    padding: 12px 20px 67px
}

.likes .likes_cont {
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1170px;
    position: relative;
    padding: 60px 0 20px;
    margin: 0 auto
}

.likes .likes_cont,
.likes .likes_cont .likes_content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%
}

.likes .likes_cont .likes_content {
    -ms-flex-pack: justify;
    justify-content: space-between
}

.likes .likes_cont .likes_content .likes_left {
    max-width: 869px;
    width: 100%
}

.likes .likes_cont .likes_content .likes_left h2 {
    color: #000;
    font-family: Geometria;
    font-size: 24px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 61px
}

.likes .likes_cont .likes_content .likes_left .likes_item {
    width: 100%;
    background: #fff;
    padding: 15px 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative
}

.likes .likes_cont .likes_content .likes_left .likes_item .cena,
.likes .likes_cont .likes_content .likes_left .likes_item .likes_item_text {
    display: -ms-flexbox
}

.likes .likes_cont .likes_content .likes_left .likes_item button {
    width: 154px;
    background-color: #419246;
    padding: 13px 0;
    margin-left: 60px;
    color: #fff;
    font-family: Geometria;
    border: unset;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: .7px;
    min-width: 99.65px
}

.likes .likes_cont .likes_content .likes_left .likes_item .delate_item {
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 0;
    background: unset;
    min-width: unset;
    border: unset
}

.likes .likes_cont .likes_content .likes_left .likes_item img {
    max-width: 113px;
    width: 100%;
    margin-right: 12px
}

.likes .likes_cont .likes_content .likes_left .likes_item .likes_item_text {
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 390px;
    width: 100%;
    margin-right: 7px
}

.likes .likes_cont .likes_content .likes_left .likes_item .likes_item_text span {
    color: #419246;
    font-family: Geometria;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: .6px
}

.likes .likes_cont .likes_content .likes_left .likes_item .likes_item_text p {
    color: #606060;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: .7px
}

.likes .likes_cont .likes_content .likes_left .likes_item .likes_item_text h4 {
    margin: 9px 0 20px;
    color: #000;
    font-family: Geometria;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: .9px
}

.likes .likes_cont .likes_content .likes_left .likes_item .cena {
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 80.95px
}

.likes .likes_cont .likes_content .likes_left .likes_item .cena span {
    color: #aaa;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: .7px
}

.likes .likes_cont .likes_content .likes_left .likes_item .cena p {
    margin-top: 5px;
    color: #000;
    font-family: Geometria;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: .9px
}

.likes .likes_cont .likes_content .likes_right {
    max-width: 270px;
    margin-left: 15px
}

.likes .likes_cont .likes_content .likes_right h2 {
    color: #000;
    font-family: Geometria;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 25px
}

.likes .likes_cont .likes_content .likes_right .product_box {
    max-width: 270px;
    width: 100%;
    padding: 17px 8px 32px;
    background: #fff;
    position: relative;
    margin-bottom: 14px
}

.likes .likes_cont .likes_content .likes_right .product_box .product_info_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 19px 23px;
    -ms-flex-align: center;
    align-items: center
}

.likes .likes_cont .likes_content .likes_right .product_box .product_info_title span {
    width: 64px;
    text-align: center;
    border-radius: 7px;
    background-color: #8fb7be;
    color: #fff;
    font-family: Geometria;
    font-size: 10px;
    font-weight: 700;
    line-height: 17.6px;
    text-transform: uppercase;
    letter-spacing: .5px
}

.likes .likes_cont .likes_content .likes_right .product_box .product_info_title button {
    border: unset;
    width: 20px;
    height: 18px;
    background-image: url(../../img/ahskhah.png);
    background-color: unset;
    background-size: cover
}

.likes .likes_cont .likes_content .likes_right .product_box .product_img {
    max-width: 252px;
    width: 100%
}

.likes .likes_cont .likes_content .likes_right .product_box .product_img img {
    width: 252px;
    height: 252px;
    -o-object-fit: scale-down;
    object-fit: scale-down
}

.likes .likes_cont .likes_content .likes_right .product_box h3 {
    color: #000;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-left: 22px;
    letter-spacing: .7px
}

.likes .likes_cont .likes_content .likes_right .product_box .buy_product {
    padding: 0 20px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 50px
}

.likes .likes_cont .likes_content .likes_right .product_box .buy_product a {
    border: 1px solid #484848;
    padding: 11px 36px;
    color: #373737;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    transition: all .5s;
    letter-spacing: .7px
}

.likes .likes_cont .likes_content .likes_right .product_box .buy_product a:hover {
    background-color: #419246;
    border: 1px solid #419246;
    color: #fff
}

.likes .likes_cont .likes_content .likes_right .product_box .buy_product p {
    color: #aaa;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    letter-spacing: .7px
}

.likes .likes_cont .likes_content .likes_right .product_box .buy_product p span {
    color: red;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: .7px
}

@media (max-width:982px) {
    .adreas_link {
        left: 0;
        transform: unset
    }

    .likes .likes_cont {
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0
    }
}

@media (max-width:897px) {
    .likes .likes_cont .likes_content {
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .likes .likes_cont .likes_content .likes_left {
        margin-bottom: 30px
    }

    .likes .likes_cont .likes_content .likes_right {
        max-width: unset;
        margin-left: 0;
        width: 100%
    }

    .likes .likes_cont .likes_content .likes_right .product_block {
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media (max-width:660px) {
    .likes .likes_cont .likes_content .likes_left .items_flex {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .likes .likes_cont .likes_content .likes_left .likes_item {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        max-width: 280px;
        margin: 0 10px 20px
    }

    .likes .likes_cont .likes_content .likes_left .likes_item button {
        margin-left: 0;
        margin-top: 20px
    }

    .likes .likes_cont .likes_content .likes_left .likes_item .likes_item_text {
        -ms-flex-align: center;
        align-items: center;
        max-width: 241px;
        margin: 20px 0
    }

    .likes .likes_cont .likes_content .likes_left .likes_item .cena {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .likes .likes_cont .likes_content .likes_left .likes_item .cena p {
        margin-top: 0;
        margin-left: 10px
    }
}